.footerText {
  color: white;
  font-size: 12px;
  margin-top: 10px;
}
.logosCineAr img {
  height: 40px;
  margin: 40px;
  padding: 40px;
  border-right: rgba(128, 128, 128, 0.5) 1px solid;
}
#root > footer > div.logosCineAr > ul > li:nth-child(3) > a > img {
  border-width: 0;
}

.logosCineAr ul {
  display: flex;
  justify-content: center;
}

.ultimosLogos ul {
  display: flex;
  justify-content: flex-end;
}
